/* nav */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5%;
  background-color: #d1c6a2; /*  fondo */
  color: rgba(24, 22, 22, 0.712);
  font-family: sans-serif;
  border-radius: 15px;
}
.logo {
  height: 100px;   /* controla el tamaño */
  width: auto;    /* mantiene proporción */
  object-fit: contain;
}
.link {
  display: flex; /* horizontal */
  list-style: none;
  gap: 15px; /* Espacio entre cada cuadro */
}
.link a {
  text-decoration: none;
  color: #070505;
  padding: 10px 20px;
  display: inline;
  border: 2px solid #584012; /* Cuadro azul eléctrico inicial */
  border-radius: 8px;
  transition: all 0.4s ease; /* Para que el efecto sea suave */
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
/* --- EFECTO HOVER --- */
.link a:hover {
  background-color: #9e783f; /* Cambia al pasar el mouse */
  border-color: #e7e7db;
  color: #fff;
  
  /* El resplandor (Glow) */
  box-shadow: 0 0 10px #d3a46e, 0 0 30px #d3b378;
  
  /* Un pequeño salto hacia arriba */
  transform: translateY(-5px);
}
/*--------------------secciones-----------------*/
.view{
  display: none;
}
.view.active{
  display: block;
}